<a href="https://colab.research.google.com/github/Harsha77064/Machine-Learning/blob/main/Placements_Dataset_using_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('Placement_Data.csv')

In [ ]:
data.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [ ]:
data.shape

(215, 15)

In [ ]:
data.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [ ]:
data.fillna(data.salary)

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [ ]:
data.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [ ]:
data.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [ ]:
data.salary.fillna(data.salary.mean(),inplace=True)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          215 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [ ]:
data.hsc_b

0       Others
1       Others
2      Central
3      Central
4      Central
        ...
210     Others
211     Others
212     Others
213     Others
214     Others
Name: hsc_b, Length: 215, dtype: object

In [ ]:
data.hsc_s

0      Commerce
1       Science
2          Arts
3       Science
4      Commerce
         ...
210    Commerce
211     Science
212    Commerce
213    Commerce
214     Science
Name: hsc_s, Length: 215, dtype: object

In [ ]:
data.degree_t

0       Sci&Tech
1       Sci&Tech
2      Comm&Mgmt
3       Sci&Tech
4      Comm&Mgmt
         ...
210    Comm&Mgmt
211     Sci&Tech
212    Comm&Mgmt
213    Comm&Mgmt
214    Comm&Mgmt
Name: degree_t, Length: 215, dtype: object

In [ ]:
data.workex

0       No
1      Yes
2       No
3       No
4       No
      ...
210     No
211     No
212    Yes
213     No
214     No
Name: workex, Length: 215, dtype: object

In [ ]:
data.specialisation

0       Mkt&HR
1      Mkt&Fin
2      Mkt&Fin
3       Mkt&HR
4      Mkt&Fin
        ...
210    Mkt&Fin
211    Mkt&Fin
212    Mkt&Fin
213     Mkt&HR
214     Mkt&HR
Name: specialisation, Length: 215, dtype: object

In [ ]:
data.status

0          Placed
1          Placed
2          Placed
3      Not Placed
4          Placed
          ...
210        Placed
211        Placed
212        Placed
213        Placed
214    Not Placed
Name: status, Length: 215, dtype: object

In [ ]:
data['gender'].replace(gender1,inplace=True)
data['hsc_b'].replace(hsc_b1,inplace=True)
data['ssc_b'].replace(ssc_b1,inplace=True)
data['hsc_s'].replace(hsc_s1,inplace=True)
data['degree_t'].replace(degree_t1,inplace=True)
data['workex'].replace(workex1,inplace=True)
data['specialisation'].replace(specialisation1,inplace=True)
data['status'].replace(status1,inplace=True)

In [ ]:
hsc_b1={'Central':1,'Others':0}
ssc_b1={'Central':1,'Others':0}
hsc_s1={'Commerce':1,'Science':2,'Arts':0}
gender1={'M':1,'F':0}
degree_t1={'Comm&Mgmt':1,'Sci&Tech':2,'Others':0}
workex1={'Yes':1,'No':0}
specialisation1={'Mkt&Fin':0,'Mkt&HR':1}
status1={'Placed':0,'Not Placed':1}

In [ ]:
dataset

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    int64
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    int64
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    int64
 6   hsc_s           215 non-null    int64
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    int64
 9   workex          215 non-null    int64
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    int64
 12  mba_p           215 non-null    float64
 13  status          215 non-null    int64
 14  salary          215 non-null    float64
dtypes: float64(6), int64(9)
memory usage: 25.3 KB

In [ ]:
data.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,1,67.00,0,91.00,0,1,58.00,2,0,55.0,1,58.80,0,270000.000000
1,2,1,79.33,1,78.33,0,2,77.48,2,1,86.5,0,66.28,0,200000.000000
2,3,1,65.00,1,68.00,1,0,64.00,1,0,75.0,0,57.80,0,250000.000000
3,4,1,56.00,1,52.00,1,2,52.00,2,0,66.0,1,59.43,1,288655.405405
4,5,1,85.80,1,73.60,1,1,73.30,1,0,96.8,0,55.50,0,425000.000000

In [ ]:
x=data.drop(['status','salary'],axis=1)

In [ ]:
y=data['status']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [ ]:
x_train.shape

(150, 13)

In [ ]:
from sklearn import svm

In [ ]:
model=svm.SVC()

In [ ]:
model.fit(x_train,y_train)

SVC()

In [ ]:
x_test.shape

(65, 13)

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
from sklearn.metrics import (accuracy_score,classification_report,confusion_matrix)

In [ ]:
accuracy_score(y_test,y_pred)

0.6923076923076923

In [ ]:
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n           0       0.68      1.00      0.81        43\n           1       1.00      0.09      0.17        22\n\n    accuracy                           0.69        65\n   macro avg       0.84      0.55      0.49        65\nweighted avg       0.79      0.69      0.59        65\n'

In [ ]:
confusion_matrix(y_test,y_pred)

array([[43,  0],
       [20,  2]])

In [ ]:
import seaborn as sb

In [ ]:
sb.pairplot(data,hue='status')